/* 1rem = 16px by default */

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--bg);
    align-items: center;
    justify-content: center;
    color: var(--fg);
}

.page {
    min-height: 100vh;;
    display: flex;
    flex-direction: column;
}

.page_main {
    flex: 1;
}

.page__header {
    flex: 0 0 auto;
    flex-shrink: 0;
    margin-top: 0.5rem;
    margin-left: calc(50% - 30vw);
    margin-right: auto;
    width: fit-content;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
}

.page__nav {
    flex-grow: 1;
}

.page__body {
    background-color: var(--off-bg);
    box-shadow: 0 0 0 1rem var(--off-bg);
    overflow-wrap: break-word;
    width: 60vw;
    height: 85vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: auto;
}

.page_socials {
    height: 4;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}

.page__404 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.home__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.til__date {
    font-weight: 100;
    
}