:root {
	--link: #7cafc2;;
	--hover: #86c1b9;
	--bg-body: #1e2434;
    --bg: #0a1019;
    --text:#878d9d;
    --border-pink: #815f86;
    --border-blue: #779aa1;
    --text-header: #f94eca;
    --text-subheader: #60d3cc;
    --text-body: #b8bcc9;
    --inner-bg: #151b2b;
    --off-fg: #a3be8c;
    --muted: #878d9d;
    --highlight: #815f86;
}
