/* Main menu */
.main-nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0 0 0 0;
    gap: 0rem 1.5rem;
}

.main-nav li {
    padding-top: 0.25rem;
    margin-left: 1rem;
    text-transform: lowercase;
}

.main-nav li::marker {
    content: "./";
}


.page__logo-inner {
    display: block;
    padding: 0.25rem;
    font-weight: 600;
    margin-right: 2rem;
}

a.page__logo-inner:link, a.page__logo-inner:visited {
    color: inherit;
    text-decoration: inherit;
}

a.page__logo-inner:hover,
a.page__logo-inner:active {
    opacity: 1;
    filter: brightness(1.5);
}

.head-circle {
    color: gray
}

.head-arrow {
    color: green;
}

.head-text {
    color: cadetblue;
}

.head-branch::before {
    content: "git:(";
    color: slateblue;
}

.head-branch::after {
    content: ")";
    color: slateblue;
}

.head-branch {
    color: brown;
}

.head-x {
    color: goldenrod;
}

.blinking-underscore {
    display: inline-block;
    color: inherit; /* or set a specific color */
    animation: blink 1s steps(1) infinite;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    50.01%, 100% {
        opacity: 0;
    }
}