<!DOCTYPE html>
<html lang="{{- site.Language.Lang -}}">

    <head>
        {{- partial "head.html" . -}}
    </head>

    <body>
        <div class="page">
            
            <header class="page__header">
                {{- partial "header.html" . -}}
            </header>

            <div class="page__body">
                <section class="page__content">
                    {{ partial "title.html" . }}
                    <div class="page_main">
                        {{- block "main" . }}{{- end }}
                    </div>
                </section>

                <section class="right__content">
                        {{- partial "side_image.html" . -}}
                        {{- partial "side_socials.html" . -}}
                </section>
            </div>

        </div>
    </body>
</html>
