{{- if eq . "pt" -}}
<svg class="flag" viewBox="0 0 16 11" shape-rendering="crispEdges" aria-hidden="true" focusable="false"><rect width="16" height="11" fill="#009c3b"/><path fill="#ffdf00" d="M7 1h2v1H7zM6 2h4v1H6zM5 3h6v1H5zM4 4h8v1H4zM3 5h10v1H3zM4 6h8v1H4zM5 7h6v1H5zM6 8h4v1H6zM7 9h2v1H7z"/><path fill="#002776" d="M7 4h2v1H7zM6 5h4v1H6zM7 6h2v1H7z"/></svg>
{{- else -}}
<svg class="flag" viewBox="0 0 16 11" shape-rendering="crispEdges" aria-hidden="true" focusable="false"><rect width="16" height="11" fill="#fff"/><path fill="#b22234" d="M0 0h16v1H0zM0 2h16v1H0zM0 4h16v1H0zM0 6h16v1H0zM0 8h16v1H0zM0 10h16v1H0z"/><rect width="7" height="6" fill="#3c3b6e"/><path fill="#fff" d="M1 1h1v1H1zM3 1h1v1H3zM5 1h1v1H5zM2 3h1v1H2zM4 3h1v1H4z"/></svg>
{{- end -}}
