<section class="win win--minimizable side__stack">
    <header class="win__title">
        <h2 class="win__title-text">{{ i18n "side_stack_title" }}</h2>
        <button type="button" class="win__minimize" aria-expanded="true" aria-label="{{ i18n "minimize_label" }}"></button>
        <button type="button" class="win__close" aria-label="{{ i18n "close_label" }}"></button>
    </header>
    <nav class="win__body socials__nav" aria-label="{{ i18n "stack_nav_label" }}">
        <div class="socials__list">
            <div class="socials__item">
                <a href="https://go.dev/"
                   title="Go"
                   target="_blank"
                   rel="noopener noreferrer"
                   class="socials__link">
                    <i class="fa-brands fa-golang" aria-hidden="true"></i>
                    <span class="socials__text">Go</span>
                </a>
            </div>
            <div class="socials__item">
                <a href="https://www.java.com/"
                   title="Java"
                   target="_blank"
                   rel="noopener noreferrer"
                   class="socials__link">
                    <i class="fa-brands fa-java" aria-hidden="true"></i>
                    <span class="socials__text">Java</span>
                </a>
            </div>
            <div class="socials__item">
                <a href="https://www.python.org/"
                   title="Python"
                   target="_blank"
                   rel="noopener noreferrer"
                   class="socials__link">
                    <i class="fa-brands fa-python" aria-hidden="true"></i>
                    <span class="socials__text">Python</span>
                </a>
            </div>
        </div>
    </nav>
</section>
