<section class="win side__status">
    <header class="win__title">{{ i18n "side_status_title" }}</header>
    <div class="win__body">
        <div class="status__line">
            <span class="status__dot"></span>
            <span class="status__label">{{ i18n "status_label" }}</span>
            <span class="status__value">{{ i18n "status_online" }}</span>
        </div>
        <div class="status__line">
            <span class="status__label">{{ i18n "location_label" }}</span>
            <span class="status__value">{{ i18n "location_value" }}</span>
        </div>
    </div>
</section>
