<section class="win win--minimizable side__stack">
    <header class="win__title">
        <h2 class="win__title-text">{{ i18n "side_stack_title" }}</h2>
        <button type="button" class="win__minimize" aria-expanded="true" aria-label="{{ i18n "minimize_label" }}">{{ partial "icon_win_minimize.html" . }}</button>
        <button type="button" class="win__close" aria-label="{{ i18n "close_label" }}">{{ partial "icon_win_close.html" . }}</button>
    </header>
    <nav class="win__body socials__nav" aria-label="{{ i18n "stack_nav_label" }}">
        <div class="socials__list">
            <div class="socials__item">
                <a href="{{ "projects/" | relLangURL }}?tech=go"
                   title="Go"
                   class="socials__link">
                    {{ partial "icon_go.html" . }}
                    <span class="socials__text">Go</span>
                </a>
            </div>
            <div class="socials__item">
                <a href="{{ "projects/" | relLangURL }}?tech=java"
                   title="Java"
                   class="socials__link">
                    {{ partial "icon_java.html" . }}
                    <span class="socials__text">Java</span>
                </a>
            </div>
            <div class="socials__item">
                <a href="{{ "projects/" | relLangURL }}?tech=python"
                   title="Python"
                   class="socials__link">
                    {{ partial "icon_python.html" . }}
                    <span class="socials__text">Python</span>
                </a>
            </div>
        </div>
    </nav>
</section>
